!!! 5
%html{lang: "en"}
  %head
    - current_page.data.description = case_study.cover_title
    - if case_study.twitter_image
      - current_page.data.twitter_image = case_study.twitter_image
    = partial "includes/layout/head"
  %body
    = partial "includes/google/gtm"
    = partial "includes/layout/header"
    .case-study-page
      = partial "includes/case-study/cover"
      = yield
      = partial "includes/features/gitlab-ee-trial"
    = partial "includes/layout/footer"
